<template>
  <div>
    {{ countDown > 0 ? countDown + ` seconds` : `COMMENCED` }}
  </div>
</template>

<script>
import moment from "moment";

export default {
  name: "countdown-timer",
  props: ["seconds"],
  data: () => ({
    moment: moment,
    countDown: 0,
  }),
  created() {
    // Prevent mutating the prop directly
    this.countDown = this.seconds;
  },
  // Spy on countDown and modify
  watch: {
    countDown: {
      handler(seconds) {
        if (seconds > 0) {
          setTimeout(() => {
            this.countDown--;
          }, 1000);
        }
      },
      immediate: true,
    },
  },
};
</script>
