<template>
  <div>
    <h1>'Next to Go Races' API</h1>
    <table-component :columns="columns" :data="data" />
  </div>
</template>

<script>
import axios from "axios";
import {
  CATEGORIES,
  NEXT_RACES_GET_ENDPOINT,
  ONE_MINUTE,
  RACES_TO_DISPLAY,
  getSecondsRemainingUntilEpochTime,
} from "../util/util";
import TableComponent from "./TableComponent/TableComponent.vue";

export default {
  name: "Main",
  components: { TableComponent },
  mounted() {
    axios
      .get(NEXT_RACES_GET_ENDPOINT)
      .then((response) => {
        const raceSummaryData = response.data.data.race_summaries;
        // Convert object of objects to array of objects
        this.data = Object.entries(raceSummaryData)
          .map((key) => ({ ...key[1], key: key[1].race_id }))
          .filter(
            (races, i) =>
              getSecondsRemainingUntilEpochTime(
                races.advertised_start.seconds
              ) > ONE_MINUTE && i < RACES_TO_DISPLAY
          );
      })
      .catch((error) => {
        console.log(error);
        this.errored = true;
      });
  },
  data() {
    return {
      data: [],
      columns: [
        {
          title: "Meeting Name",
          dataIndex: "meeting_name",
          key: "meeting_name",
        },
        {
          title: "Race Number",
          dataIndex: "race_number",
          key: "race_number",
        },
        {
          title: "Advertised Start",
          dataIndex: "advertised_start",
          key: "advertised_start",
          scopedSlots: { customRender: "advertised_start" },
          defaultSortOrder: "ascend",
          sorter: (a, b) =>
            // Sort function
            a.advertised_start.seconds - b.advertised_start.seconds,
        },
        {
          title: "Commencing In...",
          dataIndex: "commencing_in",
          key: "commencing_in",
          scopedSlots: { customRender: "commencing_in" },
        },
        {
          title: "Category",
          key: "category_id",
          dataIndex: "category_id",
          scopedSlots: { customRender: "category_id" },
          filters: [
            {
              text: CATEGORIES["9daef0d7-bf3c-4f50-921d-8e818c60fe61"],
              value: "9daef0d7-bf3c-4f50-921d-8e818c60fe61",
            },
            {
              text: CATEGORIES["4a2788f8-e825-4d36-9894-efd4baf1cfae"],
              value: "4a2788f8-e825-4d36-9894-efd4baf1cfae",
            },
            {
              text: CATEGORIES["161d9be2-e909-4326-8c2c-35ed71fb460b"],
              value: "161d9be2-e909-4326-8c2c-35ed71fb460b",
            },
          ],
          // Achieve filtering category logic here
          onFilter: (value, record) => record.category_id.indexOf(value) === 0,
        },
      ],
    };
  },
};
</script>
