<template>
  <div id="app">
    <Main />
  </div>
</template>

<script>
import Main from "./components/Main.vue";
import "./App.css";

export default {
  name: "App",
  components: {
    Main,
  },
};
</script>
