<template>
  <div id="app" style="margin: 24px">
    <a-divider />
    <a-table :columns="columns" :dataSource="data">
      <a-pagination :defaultPageSize="5" />
      <template #advertised_start="text, record">
        <div>
          {{
            moment
              .unix(record.advertised_start.seconds)
              .format("dddd, MMMM Do, YYYY h:mm:ss A")
          }}
        </div>
      </template>
      <template #commencing_in="text, record">
        <div>
          <countdown-timer
            :seconds="
              getSecondsRemainingUntilEpochTime(record.advertised_start.seconds)
            "
          />
        </div>
      </template>
      <template #category_id="text, record">
        <div>{{ categories[record.category_id] }}</div>
      </template>
    </a-table>
  </div>
</template>

<script>
import { CATEGORIES, getSecondsRemainingUntilEpochTime } from "../../util/util";
import moment from "moment";
import CountdownTimer from "../CountdownTimer/CountdownTimer.vue";

export default {
  components: { CountdownTimer },
  name: "table-component",
  props: ["data", "columns"],
  data() {
    return {
      categories: CATEGORIES,
      moment: moment,
      getSecondsRemainingUntilEpochTime: getSecondsRemainingUntilEpochTime,
    };
  },
};
</script>
